<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <span>Form</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/form"><i class="fa fa-circle-o"></i> Form With POST</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <span>JSON</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/json"><i class="fa fa-circle-o"></i> Load JSON data</a></li>
            <li><a href="/json_detail"><i class="fa fa-circle-o"></i> Load spesific JSON data</a></li>
          </ul>
        </li>


        <li class="treeview">
          <a href="#">
            <span>MongoDB</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/mongo/index"><i class="fa fa-circle-o"></i> Show List Data</a></li>
            <li><a href="/mongo/new"><i class="fa fa-circle-o"></i> Add Data</a></li>
            <li><a href="/mongo/edit"><i class="fa fa-circle-o"></i> Edit Data</a></li>
            <li><a href="/mongo/delete"><i class="fa fa-circle-o"></i> Delete Data</a></li>
            <li><a href="/mongo/detail"><i class="fa fa-circle-o"></i> Detail Data</a></li>
          </ul>
        </li>
        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>