<div class="content-wrapper">
    <section class="content">
        <div class="callout callout-info">
            <h4>{{ content.title }}</h4>

            <p>{{{ content.content }}}</p>
            <p>Implementation Example: <a href="{{ content.url_implementation }}">Here</a></p>
            <p>What's include on this implementation example: {{ content.title_implementation }}</p>
        </div>
    </section>
</div>